body {
	width: 45em;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 5%;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #e9e9ef;
	color: #333;
	line-height: 1.5em;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

nav ul {
	list-style-type: none;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #999;
}
nav li {
	float: left;
	padding: 0;
	margin: 0;
}
nav a {
	display: block;
	padding: 1.5em;
}

header {
	clear: both;
	padding-top: 1em;
}

footer {
	padding-top: 0.5em;
	font-size: 0.8em;
	clear: both;
	border-top: 1px solid #999;
}

h1 {
	font-size: 2em;
}

a {
	color: purple;
	transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	-webkit-transition: 0.25s;
}
a:hover {
	background-color: #999;
	color: #e9e9ef;
}

#picture {
	float: left;
	background-image: url('http://gravatar.com/avatar/56e9bd14e2fd4b3e85c62baae76ef700?s=250');
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
	margin-right: 2em;
	margin-bottom: 1em;
}
