body {
	width: 45em;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 5%;
	background-color: #e9e9ef;
	color: #333;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	line-height: 1.5em;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}


nav ul {
	list-style-type: none;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom: 1px solid #999;
}
nav li {
	float: left;
	padding: 0;
	margin: 0;
}
nav a {
	display: block;
	padding: 1.5em;
}


header {
	clear: both;
	padding-top: 1em;
}


footer {
	padding-top: 0.5em;
	font-size: 0.8em;
	clear: both;
	border-top: 1px solid #999;
}


h1 {
	font-size: 2em;
}


a {
	color: purple;
	transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	-webkit-transition: 0.25s;
}
a:hover {
	background-color: #999;
	color: #e9e9ef;
}


.hidden {
	/* <http://yaccessibilityblog.com/library/css-clip-hidden-content.html> */
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);  /* can put in commas when IE6, IE7 go away */
	/* Remove the following when browsers work... */
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}


dl.article-meta dt, dl.article-meta dd {
	display: inline;
	margin: 0;
}
dl.article-meta dt:not(:first-child):before {
	content: "\A";
	white-space: pre;
}
dl.article-meta dt:after {
	content: ":";
}
dl.article-meta ul {
	margin-top: 0;
}


#home-content {
	float: right;
	margin-left: 250px;
	padding-left: 2em;
}
#home-content p:first-child {
	margin-top: 0;
}
#home-picture {
	background-image: url("http://gravatar.com/avatar/56e9bd14e2fd4b3e85c62baae76ef700?s=250");
	background-repeat: no-repeat;
	width: 250px;
	height: 250px;
}


#tag-cloud {
	line-height: 2.5em;  /* a little cosy, with the largest font size of 4em */
	margin: 0
	margin-top: 1em;
	margin-bottom: 1em;
}
#tag-cloud a {
	text-decoration: none;
}
