@media screen {
	body {
		width: 45em;
		max-width: calc(100% - 1em);
		margin: auto;
		margin-bottom: 1em;
	}

	img { width: 100%; }

	pre { overflow: scroll; }

	.storyslides-ui.slides,   /* ask dan about these two */
	.storyslides-ui .slides,  /* ask dan about these two */
	.storyslides-dialog,
	#storyslides-lock-indicator { display: none; }

	/* The close button in the hover pop-up for the mode button isn't needed on
	 * desktop. */
	@media (hover: hover) and (pointer: fine) {
		.storyslides-ui .mobile-only { display: none; }
	}

	.storyslides-ui:first-of-type {
		display: block;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		border-bottom: 0.1em solid gray;
		background-color: white;
		padding-top: 0.75em;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		overflow-y: visible;
		height: 1.5em;
	}

	.storyslides-ui button {
		font-size: inherit;
		border: 0.1em solid gray;
	}

	.storyslides-ui button:focus,
	.storyslides-ui button:hover {
		outline: 0.25em solid deeppink;
	}

	#storyslides-mode-slides-explainer-container { display: none; }

	/* Show the description when it's helpful */
	#storyslides-button-mode-toggle:focus ~ #storyslides-mode-slides-explainer-container,
	#storyslides-button-mode-toggle:hover ~ #storyslides-mode-slides-explainer-container {
		/* Nullify the hiding */
		display: block;

		/* Style the para */
		position: relative;
		padding: 0.5em;
		background-color: white;
		border: 0.1em solid gray;
		outline: 0.25em solid deeppink;
	}
}
