/*
 * StorySlides internal story mode CSS
 */

html {
	background-color: var(--background-colour);
	color: var(--text-colour);
	font-size: var(--base-font-size);
}

.slides { display: none; }  /* The code inserts a space before br.slides */
#storyslides-announcer { display: none; }

/* Images are sized to be drawn as widely as possible. Their heights are then
 * capped so that tall images don't take up too much vertical room. (This can't
 * be done by specifying the height in vh because that stops the images from
 * being zoom-able.) */
img {
	display: block;
	width: 100%;
	max-height: var(--rendered-width);  /* updated by code */
	object-fit: contain;
}

img + figcaption,
figcaption + img { margin-top: 0.5em; }

iframe {
	width: 100%;
	height: calc(var(--body-width) / (16 / 9));
}

/* Flatten headings
 * This is useful when you have a heading that is also a split slide.
 * Note: use a <span class="story">: </span> to break them up. */
h1 div,
h2 div,
h3 div,
h4 div,
h5 div,
h6 div { display: inline-block; }

@media screen {
	body {
		width: var(--body-width);
		max-width: calc(100% - 1em);
		margin: auto;
		margin-bottom: 1em;
		line-height: 1.5;
	}

	pre { overflow: scroll; }

	.storyslides-ui > .story {  /* There's only one */
		display: block;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		border-bottom: 0.1em solid var(--text-colour);
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-bottom: 0.5em;
		overflow-y: visible;
		height: 3.5em;
	}

	#storyslides-mode-slides-explainer-container { display: none; }

	/* Show the description when it's helpful */
	#storyslides-button-mode-slides:focus ~ #storyslides-mode-slides-explainer-container,
	#storyslides-button-mode-slides:hover ~ #storyslides-mode-slides-explainer-container {
		/* Nullify the hiding */
		display: block;

		/* Style the para */
		position: relative;
		margin: 0;
		margin-top: 0.5em;
		padding: 0.5em;
		background-color: var(--background-colour);
		outline: 0.1em dotted var(--text-colour);
	}
}

@media print {
	.storyslides-ui { display: none; }

	/* By default, make images 'not too big' */
	img {
		display: block;
		width: 40%;
		max-height: var(--rendered-width);  /* updated by code */
		object-fit: contain;
		margin: auto;
	}

	/* Not sure how to centre <iframe>s */
	iframe {
		width: 50%;
		height: calc(50% / (16 / 9));
	}
}
