@media screen {
	/* Use this file to declare rules that apply to story and slides modes */

	table {
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
	}

	th,
	td {
		padding: 0.15rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	th {
		background-color: var(--accent-colour);
		color: black;
	}
}
