# "It is not possible to re-include a file if a parent directory
# of that file is excluded."
# http://stackoverflow.com/a/26517475
node_modules/**
!node_modules/jquery/
node_modules/jquery/**
!node_modules/jquery/dist/
node_modules/jquery/dist/**
!node_modules/jquery/dist/jquery.js
!node_modules/jmpress/
node_modules/jmpress/**
!node_modules/jmpress/jmpress.js
!node_modules/qwerty-hancock/
node_modules/qwerty-hancock/**
!node_modules/qwerty-hancock/demo/
!node_modules/qwerty-hancock/demo/**/*
!node_modules/qwerty-hancock/src/
!node_modules/qwerty-hancock/src/**/*
