/*
 * StorySlides internal loading and intro screens CSS
 */

#storyslides-screen-browser-support-note,
#storyslides-screen-errors,
#storyslides-screen-loading,
#storyslides-screen-intro {
	/* font-size will be whatever it is in story mode */
	line-height: 1.5;
	font-family: var(--story-mode-font-family);
}

#storyslides-browser-support-note,
#storyslides-screen-loading p {
	margin-top: 25vh;
	font-size: 2rem;
	text-align: center;
}

#storyslides-screen-intro h1,
#storyslides-screen-intro h2 {
	color: var(--text-colour);
	margin-top: 0;
	margin-bottom: 0;
}

#storyslides-screen-intro fieldset { border: 0.1em solid var(--text-colour); }

#storyslides-screen-intro legend {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

@media screen and (min-width: 60rem) {
	#storyslides-screen-errors,
	#storyslides-screen-intro { padding: 2em; }

	#storyslides-grid {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: column;
		column-gap: 1em;
	}
}
