/*
 * Story Slides internal shared CSS
 */

:root {
	/* UI (dialogs, progress) */
	--short-fade: 0.5s;
	--long-fade: 1s;
}

html {
	background-color: var(--background-colour, var(--background-color));  /* needs to be on html for Safari */
	color: var(--text-colour, var(--text-color));

	/* FIXME: this happens discretely becuase we're pulling the rug out. */
	transition: background-color var(--short-fade);
}

/* Hide page content on startup. We keep the <html> element visible so as to
 * prevent a flash on startup, particularly striking if in dark mode. */
body { display: none; }

/*
 * Utilities
 */

/* This just makes everything make sense */
* { box-sizing: border-box; }

/* TODO: move this? */
@media (hover: hover) and (pointer: fine) {
	.story-slides-ui .mobile-only { display: none; }
	.mode-slides .story-slides-ui .story-or-mobile-only { display: none; }
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	white-space: nowrap;
}

/*
 * Dialog container, backdrop and essential elements
 */

/* Roll our own dialogs as <dialog> support isn't great.
 *
 * HT https://css-tricks.com/considerations-styling-modal/
 *
 * FIXME: up-to-date still?
 * On mobile devices, we make them bigger, and use the technique
 * described in the CSS-Tricks article:
 * https://css-tricks.com/the-trick-to-viewport-units-on-mobile/ */
.story-slides-dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow-y: scroll;
	margin: auto;
	padding: 0.5em;
	background-color: var(--background-colour, var(--background-color));
	border: 0.25em solid var(--background-colour, var(--background-color));
	outline: 0.1em solid var(--text-colour, var(--text-color));
	max-height: 98%;
	max-width: 98%;
}

@media screen and (min-width: 50rem) {
	.story-slides-dialog { padding: 1em; }
}

.story-slides-dialog h1 { margin-top: 0; }

.story-slides-dialog .confirm-buttons,
#story-slides-go-description { text-align: right; }

.story-slides-dialog button.close {
	margin: 0.25em 0.5em 0.5em;
	padding: 0.5em;
	border: none;
	position: fixed;
	top: 0;
	right: 0;
}

/* As the <dialog> element and it's ::backdrop aren't maturely supported
 * yet, we roll our own, with a nice smooth animation. */
#story-slides-main-content[aria-hidden="true"] {
	opacity: 50%;
	transition: opacity var(--short-fade);
}
#story-slides-main-content { transition: opacity var(--short-fade); }

/* Stop headings being too big (on small screens this is a big deal) */
.story-slides-dialog > :first-child { margin-top: 0; }

/*
 * Specific dialog (and part) sizing
 */

/* Actions menu dialog */

#story-slides-dialog-actions { width: 20em; }

#story-slides-dialog-actions > .actions {
	display: flex;
	flex-direction: column;
	gap: 0.25em;
}

@media screen and (min-width: 50rem) {
	#story-slides-dialog-actions { width: auto; }

	#story-slides-dialog-actions > .actions {
		flex-direction: row;
		gap: 0.5em;
	}

	#story-slides-dialog-actions button { white-space: nowrap; }
}

/* Go dialog */

#story-slides-dialog-go { width: 20em; }
#story-slides-go-input { width: 3em; }

/* Keys dialog */

#story-slides-dialog-keys { width: 40em; }

/*
 * Keyboard shortcuts table
 */

#story-slides-dialog-keys table {
	margin: 1em auto;
	border-collapse: collapse;
}

#story-slides-dialog-keys th,
#story-slides-dialog-keys td {
	padding: 0.15em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#story-slides-dialog-keys th {
	background-color: var(--accent-colour, var(--accent-color, var(--text-colour, var(--text-color))));
	color: var(--background-colour, var(--background-color));
}

#story-slides-dialog-keys tr:not(:first-child) {
	border-bottom: 0.1em solid var(--text-colour, var(--text-color));
}   /* TODO DRY with table? */

#story-slides-dialog-keys td:first-child { text-align: center; }

/* Only set custom styles for <kbd> in our own UI */
.story-slides-ui kbd {
	/* Looks like, but also not exactly like, buttons */
	display: inline-block;
	border: 0.1em dotted var(--text-colour, var(--text-color));
	border-radius: 0.25em;
	padding: 0.15em 0.25em;
	margin: 0.15em 0;
}

/*
 * General button styling
 */

.story-slides-ui button,
.story-slides-ui input {
	font-size: inherit;
	padding: 0.25em;
	border: 0.1em solid var(--text-colour, var(--text-color));
	background-color: var(--background-colour, var(--background-color));
	color: var(--text-colour, var(--text-color));
	box-shadow: 0 0 0 0.1em var(--background-colour, var(--background-color));
}
.story-slides-ui button { border-radius: 0.5em; }

/* On desktop we can have wider borders */
@media (hover: hover) and (pointer: fine) {
	/* TODO: fold into the above? seems better for mobile */
	.story-slides-ui button { padding: 0.5em; }
}

.story-slides-ui button:focus,
.story-slides-ui button:hover {
	background-color: var(--text-colour, var(--text-color));
	color: var(--background-colour, var(--background-color));
}

/*
 * Specific button styling
 */

/* FIXME: Jump in size when switching modes */
#story-slides-button-menu {
	position: fixed;
	top: 0;
	right: 0;

	/* NOTE: z-index is only really used for slides mode */
	z-index: 2;  /* TODO: DRY variable with core/slides.css? */
}

@media screen and (min-width: 70em) {
	#story-slides-button-menu { margin: 0.5rem 1rem; }
}

/*
 * Story Slides internal loading and intro screens CSS
 *
 * Note: Story mode styles will be applied here too.
 */

#story-slides-screen-loading p {
	font-size: 2rem;
	text-align: center;
}

#story-slides-screen-loading {
	opacity: 0%;
	transition: opacity var(--short-fade);
}
#story-slides-screen-loading.in-progress { opacity: 100%; }

#story-slides-screen-intro h1,
#story-slides-screen-intro h2 {
	color: var(--text-colour, var(--text-color));
	margin-top: 0;
	margin-bottom: 0;
}

#story-slides-screen-intro fieldset { border: 0.1em solid var(--text-colour, var(--text-color)); }

#story-slides-screen-intro legend {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#story-slides-choose-story { margin-bottom: 1.5em; }

@media screen and (min-width: 60rem) {
	#story-slides-screen-errors,
	#story-slides-screen-intro { padding: 2em; }

	#story-slides-grid {
		display: grid;
		grid-template-rows: repeat(3, auto);
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: column;
		column-gap: 1.5em;
	}

	#story-slides-choose-story { margin: 0; }
}

/*
 * Story Slides internal Slides mode CSS
 *
 * TODO: Print styles
 * TODO: Don't need the .active on most of these? Performance?
 */

/* The following are provided by script...
 *
 * --computed-slide-height
 * --computed-slide-width
 * --computed-vertical-margin
 * --computed-horizontal-margin
 * --computed-base-font-size
 */

@media screen {
	/*
	 *
	 * Essential typography
	 *
	 */

	/* Setting the computed base font size here so that all other spacing is
	 * natural for slide layout.
	 *
	 * TODO: find a way to avoid this and set it just on slides—when last I
	 *       tried that, enlarging the font did cause layout ructions, but that
	 *       was probably either browser styling, or things here being
	 *       expressed in rem?
	 */
	html.mode-slides {
		font-size: var(--computed-base-font-size);
		margin: 0;
		padding: 0;
	}

	.mode-slides body {
		margin: 0;
		padding: 0;
	}

	/*
	 *
	 * Slide content
	 *
	 */

	/*
	 * Basics
	 */

	/* Non-current slides shouldn't be shown */
	.mode-slides .slide { display: none; }

	/* The current slide should be as large as it can be to fit within the
	 * screen. The author-desired aspect ratio of the slides is a CSS variable.
	 * The script works out the dimensions of the slides in pixels and stores
	 * them in other CSS variables (listed above).
	 *
	 * The base font size is specified by the author as a percentage of the
	 * slide height, so that things are nicely scaleable. Again, the script
	 * works out what this font size is in pixels.
	 *
	 * Slides (and some of the things inside them are laid as flexboxes. This
	 * allows the entire slide's contents to expand to fill the slide, which
	 * allows effects such as positioning content vertically at the bottom of
	 * the slide (or the middle).
	 */
	.mode-slides .slide.active {
		position: absolute;
		width: var(--computed-slide-width);
		height: var(--computed-slide-height);
		max-width: var(--computed-slide-width);
		max-height: var(--computed-slide-height);
		margin: var(--computed-vertical-margin) var(--computed-horizontal-margin);
		display: flex;
		flex-direction: column;

		/* TODO: check if needed (due to elements being used as slides)... */
		padding: 0;
	}

	.mode-slides .slide.active.horizontal { flex-direction: row; }

	/*
	 * Vertically aligning content
	 */

	/* Slides that have the class of (top|middle|bottom) or elements within
	 * slides that have one of those classes should align their content
	 * vertically accordingly. To do this, they are rendred as flexboxes (the
	 * slides themselves already are). */
	.mode-slides .slide.active.top:not(.horizontal),
	.mode-slides .slide.active .top {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		height: 100%;
	}

	.mode-slides .slide.active.horizontal.top,
	.mode-slides .slide.active.horizontal .top {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		height: 100%;
	}

	.mode-slides .slide.active.middle:not(.horizontal),
	.mode-slides .slide.active:not(.horizontal) .middle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}

	.mode-slides .slide.active.horizontal.middle,
	.mode-slides .slide.active.horizontal .middle {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 100%;
	}

	.mode-slides .slide.active.bottom:not(.horizontal),
	.mode-slides .slide.active:not(.horizontal) .bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 100%;
	}

	.mode-slides .slide.active.horizontal.bottom,
	.mode-slides .slide.active.horizontal .bottom {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		height: 100%;
	}

	/*
	 * Split content
	 */

	/* Slides can be split into different vertical (or horizontal) parts. The
	 * author can specify the allocation of space to each of these parts, but
	 * if they don't we need a sensible default. By making each part equally
	 * greedy for the whole space, we arrive at each part being allocated
	 * (1/n)th of the space. */
	.mode-slides .slide[data-split] > * { flex-basis: 100%; }

	/*
	 * Horizontally aligning content
	 */

	/* If these classes, used for horizontal alignment, were added to a slide,
	 * the user wants the content centred horizontally. This needs to be passed
	 * on to the script-created <div>.
	 *
	 * NOTE: This is about horizontal alignment of the content containers; it's
	 *       not about text alignment (that can easily be done by the user).
	 */

	/* FIXME: ignore .slide.no-padding */

	.mode-slides .slide.active.left > :not(.story),
	.mode-slides .slide.active .left {
		display: flex;
		margin-right: auto;
		width: 100%;
		justify-content: flex-start;
	}

	.mode-slides .slide.active.centre > :not(.story),
	.mode-slides .slide.active .centre,
	.mode-slides .slide.active.center > :not(.story),
	.mode-slides .slide.active .center {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		justify-content: center;
	}

	.mode-slides .slide.active.right > :not(.story),
	.mode-slides .slide.active .right {
		display: flex;
		margin-left: auto;
		width: 100%;
		justify-content: flex-end;
	}

	/*
	 * Default padding around content
	 */

	/* It's assumed that most slides will be simple text/lists/images and will
	 * want some padding around the content by default. This is not done by
	 * adding padding to the slide itself, because that stops effects like
	 * full-width/-height elements, which stops the split parts being of use.
	 *
	 * Therefore the script wraps each direct child of the slide in a <div> and
	 * gives it an appropriate class, and we add the padding here.
	 *
	 * Some slides will want to take up the full space, with no padding. By
	 * specifying the "no-padding" class, the script knows not to insert the
	 * padding <div>s. Also if a <figure> is a slide, no padding <div>s will be
	 * added.
	 *
	 * The script doesn't wrap absolutely-positioned elements in padding <div>s
	 * either.
	 */
	.mode-slides .slide.active .padding-wrapper-first {
		padding-top: var(--slide-padding-vertical);
		padding-left: var(--slide-padding-horizontal);
		padding-right: var(--slide-padding-horizontal);
	}

	.mode-slides .slide.active .padding-wrapper-middle {
		padding-left: var(--slide-padding-horizontal);
		padding-right: var(--slide-padding-horizontal);
	}

	.mode-slides .slide.active .padding-wrapper-last {
		padding-left: var(--slide-padding-horizontal);
		padding-right: var(--slide-padding-horizontal);
		padding-bottom: var(--slide-padding-vertical);
	}

	/* Slides organised horizontally require different padding... */

	.mode-slides .slide.active.horizontal .padding-wrapper-first {
		padding-top: var(--slide-padding-vertical);
		padding-left: var(--slide-padding-horizontal);
		padding-bottom: var(--slide-padding-vertical);
	}

	.mode-slides .slide.active.horizontal .padding-wrapper-middle {
		padding-top: var(--slide-padding-vertical);
		padding-bottom: var(--slide-padding-vertical);
	}

	.mode-slides .slide.active.horizontal .padding-wrapper-last {
		padding-top: var(--slide-padding-vertical);
		padding-right: var(--slide-padding-horizontal);
		padding-bottom: var(--slide-padding-vertical);
	}

	/*
	 * Progressively revealing content
	 */

	/* The author can specify that certain items on a slide are to be revealed
	 * gradually (by setting the 'data-pause' attribute on the container of the
	 * things). A custom attribute is used to track the state of things not yet
	 * revealed (it's added automatically when the slideshow starts). */
	.mode-slides [data-story-slides-step] { visibility: hidden; }

	/*
	 * Overflow FIXME
	 */

	/* FIXME: doc */
	.mode-slides .overflow-auto { overflow: auto; }

	/*
	 *
	 * UI
	 *
	 */

	/*
	 * Slide progress meter
	 */

	/* The progress bar is a container with nested <div> that adjusts its
	 * width. Got this neat trick from impress.js; thanks :-).
	 *
	 * Note: no colour is specified here, so it won't actually show up. The
	 *       theme stylesheet needs to specify a background-color for the
	 *       #story-slides-progress > div element. */
	.mode-slides #story-slides-progress {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
	}
	.mode-slides #story-slides-progress > div { width: 0; }

	/*
	 * Button z-ordering
	 */

	/* The menu, previous and next buttons come first in the DOM and focus
	 * order, but must be rendered on top of the slides. Decided to do this
	 * rather than put them all after the slides, in case someone ever puts a
	 * focusable element on a slide. */
	.mode-slides .story-slides-ui,
	.mode-slides .story-slides-ui button { z-index: 1; } /* TODO: why needed? */

	/*
	 * Mobile-ish menu and previous/next buttons
	 */

	@media (hover: none) and (pointer: coarse) {
		/* Previous slide and next slide invisible buttons are used to move
		 * between slides on mobile devices - this avoided the need for custom
		 * gesture detection (e.g. swipe between slides), which would've
		 * blocked pinch-to-zoom gestures. */
		.mode-slides #story-slides-button-previous,
		.mode-slides #story-slides-button-next {
			background: none;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 20vw;
			border: none;
			box-shadow: none;
		}
		.mode-slides #story-slides-button-previous { left: 0; }
		.mode-slides #story-slides-button-next { right: 0; }

		/* When the previous/next buttons get focus, show large back/forward
		 * arrows within them, to indicate their purpose. Drop-shadows are used
		 * to improve contrast. */
		.mode-slides #story-slides-button-previous > span,
		.mode-slides #story-slides-button-next > span {
			display: none;
		}

		.mode-slides #story-slides-button-previous:focus > span,
		.mode-slides #story-slides-button-next:focus > span {
			display: inline;
			color: var(--text-colour, var(--text-color));
			font-size: 20vw;  /* FIXME: not nicely specified */
			visibility: visible;
			filter: drop-shadow(0 0 0.05em black);
		}
	}

	/*
	 * Live region
	 */

	/* The announcer usually has a class of visually-hidden. */
	.mode-slides .story-slides-locked #story-slides-announcer { display: none; }
}

/* Story mode content should not be available to anyone when we are in slides
 * mode.
 *
 * This includes the help text on the story mode top bar. */
.mode-slides .story { display: none; }

/*
 * Story Slides internal Story mode CSS
 *
 * FIXME: support inline images
 *
 * Things that are done here:
 *
 *  - The <body> is capped at a certain width.
 *
 *  - <div>s inside headings will be rendered as inline-block, so you can style
 *    a heading in an attractive graphical way (as a split slide) in slides
 *    mode, but it won't be line-broken in story mode.
 *
 *  - <br>s are hidden and a space is inserted before them (by code).
 *
 *  - The UI top bar is set to use the same font size as the content.
 *
 *  - Any Slides-mode-specific content (which generally should be discouraged,
 *    as Story mode is the mode of truth :-)) is set to display: none.
 */

/* Flatten headings
 * This is useful when you have a heading that is also a split slide.
 * Note: use a <span class="story">: </span> to break them up. */
.mode-story h1 div,
.mode-story h2 div,
.mode-story h3 div,
.mode-story h4 div,
.mode-story h5 div,
.mode-story h6 div { display: inline-block; }

@media print {
	.mode-story .story-slides-ui { display: none; }
}

/* Slides mode content should not be available to anyone when we are in story
 * mode. */
.mode-story .slides { display: none; }  /* The code inserts a space before br.slides */
.mode-story #story-slides-announcer { display: none; }
