<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="alternate" type="application/rss+xml" title="matatk.agrip.org.uk Feed" href="http://matatk.agrip.org.uk/atom.xml"/>
		<link rel="stylesheet" type="text/css" href="/style/me.css"/>
		<meta name="author" content="Dr Matthew Tylee Atkinson B.Sc.(Hons) Ph.D."/>
		<meta name="description" content="Personal web site and blog"/>
		<meta name="keywords" content="accessibility,programming,computing,blog"/>
		<script src="script/ga.js"></script>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/research/">Research</a></li>
				<li><a href="/creations/">Creations</a></li>
				<li><a href="/articles/">Articles</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
		<main role="main">
{{ content }}
		</main>
		<footer>
			<p>Copyright 2012&ndash;2013 Matthew Tylee Atkinson</p>
		</footer>
	</body>
</html>
