<!DOCTYPE html>
<html lang='en-GB'>
	<head>
		<title>{{ page.title }}</title>
		<link rel='stylesheet' type='text/css' href='/style/me.css'/>
		<meta name="author" content="Dr Matthew Tylee Atkinson B.Sc.(Hons) Ph.D."/>
		<script src="script/ga.js"></script>
	</head>
{% if page.abstract %}
	<body id='homeBody'>
{% else %}
	<body id='pageBody'>
{% endif %}
		<header>
			<h1>{{ page.title }}</h1>
		</header>
		{{ content }}
		<div id='footerContainer'> <!-- new div for IE 8 -->
		<footer>
			<p>Copyright 2012 Matthew Tylee Atkinson</p>
		</footer>
		</div>
	</body>
</html>
